@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

body{
    background-color:rgb(76, 80, 104);
    color:white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.main-div{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(50deg, rgb(40,42,55)65%, rgba(255, 0, 0, 0)) , url("background.jpg");
    background-size: cover;
}
.get-started{
    margin:15% 0% 5% 15%;
}
.get-started h3{
    font-weight: 200;
    opacity: 0.8;
    margin-bottom:25px;
}
.get-started h3:last-child{
    margin-top:25px;
}
.get-started a{
    text-decoration: none;
    color:rgba(38, 150, 255, 0.89);
}

.username-input, .email, .password{
    padding:10px 15px;
    border-radius: 5px;
    border:none;
    display: block;
    margin:15px 0 15px 15%; 
    width: calc(39% - 6px);
    background-color: rgb(50,54,69);
    color:white;
    padding:15px 10px;
}
.inputs input::placeholder{
    color:rgba(255, 255, 255, .6);
}
.inputs input:focus{
    outline:1px solid rgba(0, 183, 255, 0.5);
    border:none;
}
.username{
    display: flex;
    justify-content: flex-end;
    position:relative;
    width: 50%;
    margin-left:calc(5% - 11px);
}
.username input{
    width: calc(80% - 10px);
}
#i1{
    position: absolute;
    right: 2%;
    top:37%;
}
.email-div{
    display: flex;
    justify-content: flex-end;
    position:relative;
    width:50%;
    margin-left:calc(5% - 11px);
}
.email-div input{
    width: calc(80% - 10px);
}
.email-icon{
   position: absolute;
   top:40%;
   right:2%;
}
.password-div{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left:calc(5% - 11px);
}
.password-div input{
    width: calc(80% - 10px);
}
.eye-icon{
    color:white;
    position:absolute;
    right:2%;
    top:40%;
}
.showPassBtn{
    border: none;
    cursor: pointer;
}
.eye-icon:hover{
    background-color: rgba(255, 255, 255, .2);
}
.terms{
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: calc(15%);
}
.checkbox{
    margin-left: 5px;
    margin-right: 5px;
}
.createAcc{
    margin:3% 0 5% 25%;
    padding:10px 50px;
    border-radius: 25px;
    border:none;
    background-color: rgb(29,144,244);
    color:white;
    font-size:1.25rem;
    cursor:pointer;
    transition: all 300ms;
}
.createAcc:hover{
    background-color: rgb(2, 103, 255);
}
@media(max-width:1024px){
    .main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-height:640px){
    .main-div{
        display: flex;
        justify-content: flex-start;
    }
    .get-started{
        margin-top:15%;
    }
    .inputs{
        margin-top:15%;
    }
    .email-div input{
        margin-top:25px;
    }
    .email-icon{
        top:55%;
    }
    .password-div input{
        margin-top:25px;
    }
    .eye-icon{
        top:56%;
    }
}
@media(max-width:540px){
    .main-div{
        background:rgba(40,42,55, 1);
        justify-content: center;
    }
    .get-started{
        width: 100%;
        margin:0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .username, .email-div, .password-div{
        width: 80%;
    }
    .terms{
        width: 80%;
    }
    .create{
        display: flex;
        justify-content: center;
        
    }
    .createAcc{
        margin:3% 0% 5% 0%;
    }
}
@media(max-width:412px){
    .username, .email-div,.password-div{
        width: 100%;
        margin:0;
    }
    .username input{
        margin-right:25px;
    }
    #i1{
        right:calc(2% + 25px)
    }
    .email-div input{
        margin-right: 25px;
    }
    .email-icon{
        right: calc(2% + 25px);
    }
    .password-div input{
        margin-right: 25px;
    }
    .eye-icon{
        right: calc(2% + 25px);
    }
    .terms{
        margin-bottom:15%;
    }
    .createAcc{
        margin-left:20px;
    }
}
@media(max-width:360px){
    .username,.email-div, .password-div{
        width: 100vw;
        justify-content: center;

    }
    .username input {
        width: 90%;
        margin:0;
    }
    .email-div input{
        width: 90%;
        margin:0;
        margin-top:10px;
    }
    .password-div input{
        width: 90%;
        margin:0;
        margin-top: 10px;
    }
    .eye-icon{
        top:47%;
    }
    .terms{
        margin-top:15px;
    }
    .create{
        position: absolute;
        bottom:2%;
        left: 13%;
    }
}
